*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.table-side td{ 
  border-radius: 10px;
  font-size: 20px;
}

.table-side{
  position: absolute;
}

table   .table-side td :hover{
  background-color: black;
}

