*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




.btn 
{   max-width: 42px; 
    position: relative;
}



.text
{
    position: relative;
    width: 200px;
    height: 300px;
    background-color: transparent;
    border: 3px solid black;
    display: none;
    transform: translateZ(30%);
    
}

.text a
{
    position: relative;
    display: flex;
    margin-bottom: 20px;
    font-size: 24px;
    text-decoration: none;
    color:white;
    
}


.btn> .text:hover
{
    display: block;
}



.text a:hover
{
    text-decoration: underline;
    color: wheat;
}

.btn:hover > .text
{
    background-color: rgb(65, 64, 64);
    border-radius: 10px;
    display: block;
}

.imgs{
    width: 0em;
    transition: .3s;
}

