*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: black;
    background-size: 100%;
    width: 100vw;
    height: 100vh;
}
.center h1{
    color: blanchedalmond;
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
}


.download a{
    text-decoration: none;
    color: white;
    font-family: fantasy;
    font-size: 20px;
    padding: 2px;
}
.download :hover{
    text-decoration: underline;
    color: blue;
}
.download {
    border: 2px solid white;
    border-radius: 20px;
    width: 160px;
    
}
.name h1{
    color: white;
    text-align: center;
    font-family: 'Nanum Brush Script';
    font-size: 50px;
    width: 265px;    
}

.name{
    margin-left: 800px;
}
.name :hover{
    text-decoration: underline;
    color: blue;
}
.img img{
    width: 700px;
    height: 500px;
    
    
}
.img{
    margin-left:600px;
}
.ww {
    color: red;
    font-size: 30px;
}
.ww p{
    text-align: center;
}
.we{
    color: rgb(175, 58, 58);
    font-size: 15px;
}

.we p{
    text-align: center;
}

.tag{
    color: white;
}