*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .3s;
}

.btn
{
    position: relative;
    top: 30px;
    max-width: 250px;
    height: 150px;
    background-color: transparent;
    border: 2px solid black;
    transition: .3s;
}

.btn:hover
{
    border: none;
    border-radius: 30px;
    max-width: 300px;
    height: 170px;
    background: black;
    transform: translateX(40%);
    color: wheat;
}

.text
{
    position: relative;
    left: 1em;
    line-height: 2em;
    transition: .3s;
}

.text_1
{
    width: 82px;
    transition: .3s;
}

.text_2
{
    width: 56px;
    transition: .3s;
}

.text_3
{
    width: 68px;
    transition: .3s;
}

.text_4
{
    width: 50px;
    transition: .3s;
}

.text i
{
    display: flex;
    text-decoration: none;
    display: none;
    transition: .3s;
}



.text_1:hover i
{
    display: block;
    font-weight: 900;
}

.text_2:hover i
{
    display: block;
    font-weight: 900;
}

.text_3:hover i
{
    display: block;
    font-weight: 900;
}

.text_4:hover i
{
    display: block;
    font-weight: 900;
}