*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.main  > a{
    
    
    border: 2px solid rgb(15, 15, 15);
    border-radius: 20px;
    font-family: 'Nanum Myeongjo';
    text-decoration: none;
    color: black;
    
}

.main{
    font-size: 50px;
    transform: translateX(37%);
    margin-top: 300px;

}


body{
    background-image: url('/우경아 그러지마/vv.gif.gif');
 
   background-size: 100%;
    background-repeat: no-repeat;
}

@media (max-width:768px) {

    .main a{
        font-size: 15px;
    }

    .main{
        transform: translateX(30%);
        padding-top: 0px;
    }

}