*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.btn{
    border: none;
    background-color: rgb(237, 113, 113);
    color: rgb(29, 56, 47);
   padding: 20px;
    border-radius: 40px;
    margin-top: 30px;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
}


a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    position: relative;
}

.a-tag{
    border: none;
    
}